.author-img {
    width: 100px;
    float: left;
    img {
        border-radius: 100%;
    }
}
.author-info {
    width: 400px;
    float: right;
    .author-desc {
        @include author-font;
        color: $black;
    }
    .author-social {
        @include citation-font; 
        margin-top: $space;
    }
}

.author-social-item {
    &.author-twitter { 
        margin-right: 8px;
    }
    display: inline-block;
    i {
        float: left;
        display: block;
        margin-right:5px;
        color: $black;
        width: 24px;
        height: 24px;
        border-radius: 100%;
        display: block;
        background: $lightGrey;
        text-align: center;
        line-height: 24px;
    }
//    img {
//        float: left;
//        display: block;
//        margin-right:5px;
//    }
    span {
        display: block;
        float: left;
        position: relative;
        top: 3px;
        color: #585858;
    }
}

.post-tags {
    border-top: 2px dotted $black;
    margin-top: 30px;
    padding-top: $space;
    @include post-aside-font;
    .post-tag-link {
        background: #e8e8e8;
        display: inline-block;
        padding: 2px 8px;
        margin-right: 5px;
        margin-bottom: 10px;
        border-radius: 5px;
        &:hover {
            text-decoration: none;
            background: darken(#e8e8e8, 10%);
        }
    }
    &.no-border {
        border-top: none;
        margin-top: 0;
        padding-top: 0;
    }
}


@include media-breakpoint-down(md) {
    .author-img {
        width: 20%;
        margin-right: 3%;
    }
    .author-info {
        width: 77%;
        float: right;
    }
}