.btnums-wrap {
    @include flex-height;
    @include post-aside-font;
    text-align: center;
//    max-width: 148px;
    h3 {
        font-family: 'Suisse Bold', sans-serif;
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 16px;
    }
    .btnums-sub {
        font-style: italic;
        padding-bottom: 16px;
        border-bottom: 2px dotted $black;
    }
    .btnum-num {
        font-family: 'Suisse Bold', sans-serif;
        font-size: 28px;
        line-height: 28px;
        display: block;
        text-align: left;
        margin: 16px 0 8px 0;
    }
    .btnum-content p {
        text-align: left;
        margin: 0;
    }
}

@include media-breakpoint-down(sm) {
    .btnums-wrap {
        display: block;
        margin-bottom: 55px;
        h3 {
            font-size: 24px;
            text-align: left;
        }
        .btnums-sub {
            font-size: 20px;
            line-height: 26px;
            text-align: left;
        }
        .btnum-num {
            font-size: 36px;
            line-height: 36px;
        }
        .btnum-content p {
            font-size: 20px;
            line-height: 26px;
        }
    }
}