.drop-cap {
    color: $black;
    float: left;
    font-family: "Suisse Bold",sans-serif;
    font-size: 100px;
    line-height: 79px;
    padding-top: 5px;
    padding-right: 8px;
    padding-left: 3px;
}