.addtoany_list.a2a_kit_size_40 a:not(.addtoany_special_service)>span {
    padding: 6px;
    border-radius: 100% !important;
}

.related-articles-sec {
    h2 {
        font-family: 'Suisse Bold', sans-serif;
        font-size: 20px;
        line-height: 20px;
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 2px dotted $black;
    }
    .primary-category {
        @include post-cat;
        margin-bottom: 4px;
    }
    h4 a {
        @include smaller-title;
        &:hover {
            text-decoration: none;
        }
    }
    
    .single-related-article {
        padding-bottom: $space;
        margin-bottom: $space;
        border-bottom: 1.5px solid #D9D9D9;
        &:last-of-type {
            border-bottom: none;
            margin-bottom: 0;
        }
        a {
            text-decoration: none;
            display: block;
            transition: 0.2s all;
            position: relative;
            @include box-color-hovers;
            p.primary-category {
                border-bottom: none;
            }
            .editors-pick-title {
                font-family: 'Lynon Reg', sans-serif;
                font-size: 1.5rem;
            }
        }
    }
}

.editors-picks-list {
    padding: 0;
    list-style-type: none;
}

@include media-breakpoint-down(sm) {
    .social-share-icons  {
        margin-bottom: 15px;
        #left-sidebar {
            padding-left: 0;
        }
    }
    .related-articles-sec {
        margin-top: 55px;
    }
}
