.post-header-info-wrap {
    text-align: center;
    .primary-category {
        @include post-cat;
        margin-bottom: $space;
        display: inline;
    }
    h1.single-post-title {
        @include large-title;
        margin-bottom: $space;
    }
    .single-post-subheading {
        @include single-subheading;
        margin-bottom: $space;
    }
    .author-meta {
        @include post-meta;
        margin-bottom: 45px;
    }
}

.vertical-black {
    background: #000;
    @include media-breakpoint-down(sm) {
        padding: 35px 15px 0;
    }
    .post-header-info-wrap {
        .primary-category {
            border-bottom: 1px solid $white;
            &::after {
              background-color: $white;
            }
            &:hover {
                border-bottom: none;
            }
        }
    }
    @include media-breakpoint-down(sm) {
        .author-meta {
            margin-bottom: 35px;      
        }
    }
}

figcaption {
    @include caption-font;
    margin-top: $space;
    margin-bottom: 26px;
    position: relative;
    p {
        margin: 0;
    }
    .caption-arrow {
        position: absolute;
        left: -25px;
        top: -7px;
    }
}

//.vertical-caption-sec {
//    figcaption {
//        left: 40px;
//    }
//}
figcaption {
    left: 40px;
    @include media-breakpoint-down(sm) {
        width: 90%;
    }
}


.author-date-sep {
    display: inline-block;
    margin: 0 6px;
}

.height-100 {
    height: 100%;
}
.vertical-post-header {
    height: 100%;
    .post-header-info-wrap {
        text-align: center;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 75px;
        @include media-breakpoint-down(sm) {
            padding: 0 25px;
        }
    }
    img {
        height: 100%;
    }
}

.vertical-black {
    .col-md-6.info-side {
        background: $black;
    }
    color: $white;
    a {
        color: $white;
    }
}


@include media-breakpoint-down(sm) {
    .author-date-sep {
        display: none;
    }
    .post-date {
        display: block;
    }
}