blockquote {
    font-family: 'Suisse Bold', sans-serif;
    font-size: 36px;
    line-height: 44px;
    margin: 0;
}

@include media-breakpoint-down(sm) {
    blockquote {
        font-size: 30px;
        line-height: 36px;
    }
}