.post-body {
    h1, h2 {
        font-size: 56px !important;
        line-height: 72px !important;
        strong {
            font-family: 'Suisse Bold', sans-serif;
        }
    }
    h3 {
        font-size: 32px !important;
        line-height: 40px !important;
        strong {
            font-family: 'Suisse Bold', sans-serif;
        }
    }
    h4 {
        font-size: 24px !important;
        line-height: 28px !important;
        strong {
            font-family: 'Suisse Bold', sans-serif;
        }
    }
    h5, h6 {
        font-size: 20px !important;
        line-height: 30px !important;
        strong {
            font-family: 'Suisse Bold', sans-serif;
        }
    }
}

.post-body a {
    color: $ryersonBlue;
    text-decoration: underline;
    &:hover {
        text-decoration: none;
    }
}
.post-body cite {
    font-style: normal;
    color: #234586;
    font-size: 80%;
    font-family: 'Lynon Bold', sans-serif;
}
.sidebar-citations {
//    @include flex-height;
    a {
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }
}
cite.aside {
    font-style: normal;
    .num {
        display: block;
        color: #234586;
        font-style: normal;
        font-family: 'Suisse Bold', sans-serif;
        font-size: 14px;
    }
    .desc {
        @include citation-font;
    }
}

//subheadings
.post-body {
    h1, h2, h3, h4, h5, h6 {
        @include post-body-subheading;
        margin-bottom: $space;
    }
}