.watn-wrap {
//    @include flex-height;
    @include post-aside-font;
    text-align: center;
    display: block;
    margin-top: 55px;
//    margin-bottom: 55px;
//    max-width: 148px;
    p {
        margin: 0;
    }
    h3 {
        font-family: 'Suisse Bold', sans-serif;
        font-size: 20px;
        line-height: 24px;
        margin: 0;
    }
    .watn-sub {
        font-style: italic;
    }
    .watn-arrow, .watn-sep {
        display: flex;
        justify-content: center;
        margin: $space 0;
    }
    .watn-sep {
        margin: $space 0;
    }
    .watn-img {
        margin: 0 auto $space;
        display: block;
        width: 95px;
        height: 95px;
        border-radius: 100%;
    }
    .name-class {
        font-style: italic;
        span {
            font-family: 'Suisse Bold', sans-serif;
            display: block;
            font-style: normal;
        }
    }
    .watn-bottom {
        span {
            font-family: 'Suisse Bold', sans-serif;
            display: block;
        }
    }
}


@include media-breakpoint-down(sm) {
    .watn-wrap {
        margin-top: 45px;
        margin-bottom: 45px;
        float: left;
        width: 100%;
        display: block;
        p {
            font-size: 20px;
            line-height: 26px;
        }
    }
    .watn-wrap h3 {
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 16px;
        br {display: none;}
    }
    .watn-sub {
        font-size: 20px;
        line-height: 26px;
    }
    .name-class {
        font-size: 20px;
        line-height: 26px;
    }
}