.watn-wrap {
    @include flex-height;
    @include post-aside-font;
    text-align: center;
//    max-width: 148px;
    p {
        margin: 0;
    }
    h3 {
        font-family: 'Suisse Bold', sans-serif;
        font-size: 20px;
        line-height: 24px;
        margin: 0;
    }
    .watn-sub {
        font-style: italic;
    }
    .watn-arrow, .watn-sep {
        display: flex;
        justify-content: center;
        margin: $space 0 0 0;
    }
    .watn-sep {
        margin: $space 0;
    }
    .watn-img {
        margin: $space auto;
        display: block;
        width: 95px;
        height: 95px;
        border-radius: 100%;
    }
    .name-class {
        font-style: italic;
        span {
            font-family: 'Suisse Bold', sans-serif;
            display: block;
            font-style: normal;
        }
    }
    .watn-bottom {
        span {
            font-family: 'Suisse Bold', sans-serif;
            display: block;
        }
    }
}