.archive-page, .single-mag {
    @include media-breakpoint-down(sm) {
        padding-top: 25px !important; 
    }
}
.archive-page, .home, .related-articles, .single-mag, .current-issue-page, .search-results-page {
    .single-archive-post-wrap {
        margin-top: 70px;
        text-align: left;
        @include media-breakpoint-down(sm) {
            margin-top: 50px;
        }
    }
    .primary-category {
        @include post-cat;
        display: inline;
        text-align: left;
    }
    a {
        text-decoration: none;
        text-align: left;
    } 
    
    
    h1.page-title {
        @include archive-term-font;
    }
    
    
    h2.entry-title, h3.entry-title {
        @include archive-title-font;
        margin-bottom: 3px;
        text-align: left;
    }
    .subheading {
        @include archive-subheading-font;
        text-align: left;
    }
}

.hoveredArchive {
    color: $medGrey;
}
.post-title-subtitle {
    &:hover {
        h2, h3, .subheading, .entry-title {
            color: $medGrey;
        }
    }
}

    span.taxonomy-thumb {
        display: block;
        position: relative;
        margin-bottom: 16px;
        a.lead-img-wrap {
            display: block;
            @include box-color-hovers;
        }
        &:hover, &:focus {
            img {
                filter: grayscale(1);
            }
        }
        &.hovered {
            a.lead-img-wrap {
                display: block;
                @include box-color-sibling;
            }
            img {
                filter: grayscale(1);
            }
        }
//        &:hover {
//            &::before {
//                display: block;
//                content: '';
//                position: absolute;
//                top: -8px;
//                right: -8px;
//                bottom: -8px;
//                left: -8px;
//                border: 16px solid rgba(255,27,27,.6);
//            }
//        }
    }


#ajax-load-more {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.alm-load-more-btn {
    @include alm-btn-font;
    margin-top: 50px;
    margin-bottom: 10px;
    text-align: center;
    background: $white;
    border: 1.25px solid $black;
    border-radius: 5px;
    box-shadow: 2px 2px 0;
    &:hover {
        background: $hoverGrey;
    }
    &:disabled {
        display: none;
    }
}

.no-results {
    @include alm-btn-font;
    margin-top: 75px;
    margin-bottom: 20px;
}