.archive-page, .home {
    .single-archive-post-wrap {
        margin-top: 70px;
        text-align: left;
    }
    .primary-category {
        @include post-cat;
        display: inline;
        text-align: left;
    }
    a {
        text-decoration: none;
        text-align: left;
    } 
    h1.page-title {
        @include archive-term-font;
        display: inline-block;
        background-image: none;
        background-repeat: no-repeat;
        background-position: 0 95px;
        background-size: 100% 30px;
        padding-bottom: 35px;
        background-image: linear-gradient(180deg, #c4c4c4, #c4c4c4);
        display: inline;
        @include media-breakpoint-down(sm) {
            display: inline;
        }
        &.green {
            background-image: linear-gradient(180deg, $green, $green);
        }
        &.blue {
            background-image: linear-gradient(180deg, $blue, $blue);
        }
        &.orange {
            background-image: linear-gradient(180deg, $orange, $orange);
        }
        &.yellow {
            background-image: linear-gradient(180deg, $yellow, $yellow);
        }
    }
    
    
    h2.entry-title {
        @include archive-title-font;
        margin-bottom: 3px;
        text-align: left;
    }
    h3.subheading {
        @include archive-subhading-font;
        text-align: left;
    }
}

    span.taxonomy-thumb {
        display: block;
        position: relative;
        margin-bottom: $space;
        a.lead-img-wrap {
            display: block;
            @include box-color-hovers;
        }
        &:hover, &:focus{
            img {
                filter: grayscale(1);
            }
        }
//        &:hover {
//            &::before {
//                display: block;
//                content: '';
//                position: absolute;
//                top: -8px;
//                right: -8px;
//                bottom: -8px;
//                left: -8px;
//                border: 16px solid rgba(255,27,27,.6);
//            }
//        }
    }


#ajax-load-more {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.alm-load-more-btn {
    @include alm-btn-font;
    margin-top: 75px;
    text-align: center;
    background: $white;
    border: 1.25px solid $black;
    border-radius: 5px;
    box-shadow: 2px 2px 0;
    &:disabled {
        display: none;
    }
}

.no-results {
    @include alm-btn-font;
    margin-bottom: 20px;
}