.current-issue-page {
    .single-archive-post-wrap {
        margin-top: 0;
        margin-bottom: 75px;
    }
    .current-issue-articles {
        border-left: 1px solid $black;
        padding-left: 30px;
    }
}

.current-issue-cover {
    margin-bottom: 40px;
}

.current-issue-info {
    text-align: center;
    h1 {
        @include current-issue-title-font;
    }
    .issue-description {
        @include alm-btn-font;
        line-height: 22px;
    }
    .file-link {
        @include citation-font;
        margin-top: 10px;
        margin-bottom: 25px;
    }
    .downloadPdf {
        text-decoration: underline;
    }
}

.flex {
    display: flex;
    justify-content: center;
}

.default-btn {
    @include alm-btn-font;
    text-align: center;
    background: $white;
    border: 1.25px solid $black;
    border-radius: 5px;
    box-shadow: 2px 2px 0;
    &:disabled {
        display: none;
    }
}

.past-issues {
    background: $lightGrey;
    color: $black;
    .past-issues-heading {
        border-bottom: 2px dotted $black;
        display: flex;
        justify-content: space-between;
    }
    .slick-track {
        float: left;
    }
    .past-issue {
        text-align: center;
        margin-top: 75px;
        img {
            width: 255px;
            margin: 0 auto 40px auto;
        }
    }
    .dotted-heading {
        font-family: 'Suisse Bold', sans-serif;
        text-transform: lowercase;
        font-size: 48px;
        line-height: 52px;
        padding-bottom: 25px;
        color: $black;
        margin-bottom: 0;
        @include media-breakpoint-down(md) {
            font-size: 36px;
            line-height: 36px;
            padding-bottom: 20px;
        }
    }
    .arrows-inner {
        position: relative;
        top: 5px;
        .prev {
            margin-right: 40px;
        }
    }
}

.mag-pagination-next {
    font-size: 28px;
    line-height: 36px;
    font-family: 'Suisse Bold', sans-serif;
    text-transform: lowercase;
    &:hover {
        text-decoration: none;
        color: $medGrey;
    }
}

.flex-row-end {
    display: flex;
    justify-content: end;
}

.sec-pad-xl {
    margin: 100px 0 125px 0;
}


@include media-breakpoint-down(sm) {
    .current-issue-page {
        .post-tags {
            margin-bottom: 55px;
        }
    }
    .current-issue-page .current-issue-articles {
        border-left: none;
        padding-left: 15px;
    }
}