.mobile-header-drawer {
    display: none;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    z-index: 999;
    background: #e2e2e2;
    width: 100vw;
    height: 100vh;
}

.mobile-header-pad {
    padding: 12px 15px;
}

#mobileDrawerClose {
    position: absolute;
    right: 0;
    top: 4px;
}