#error-404-wrapper {
    h1.page-title {
        @include archive-term-font;
        font-size: 72px;
        line-height: 72px;
        display: inline-block;
        position: relative;
        &::before {
            height: 26px;
            width: 100%;
            content: "";
            background-color: rgba(196, 196, 196, 0.7);
            position: absolute;
            bottom: -12px;
            @include media-breakpoint-down(sm) {
                height: 17px;
                bottom: 2px;
            }
        }
    }
    
    .four04 {
        font-family: 'Suisse Bold', sans-serif;
        font-size: 264px;
        line-height: 264px;
        text-align: center;
        margin-top: 45px;
        @include media-breakpoint-down(sm) {
            font-size: 36vw;
            line-height: 36vw;
        } 
    }
    .unfortunately {
        font-family: 'Lynon Reg', sans-serif;
        font-size: 26px;
        line-height: 32px;
    }
    .return-home {
        font-family: 'Suisse Reg', sans-serif;
        font-size: 16px;
        line-height: 18px;
    }
}