$black: #000;
$white: #fff;
$ryersonBlue: #004C9B;
$green: #00DA2B;
$blue: #5BD2FF;
$orange: #FF891D;
$yellow: #FCF661;
$lightGrey: #e8e8e8;
$medGrey: #4c4c4c;
$hoverGrey: #d9d9d9;
$space: 18px;

@font-face {
    font-family: "Lynon Reg";
    src: url("../fonts/lynon-reg/LyonText-Regular-Web.woff") format("woff"), url("../fonts/lynon-reg/LyonText-Regular-Web.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
} 

@font-face {
    font-family: "Lynon Reg Italic";
    src: url("../fonts/lynon-reg-italic/LyonText-RegularItalic-Web.woff") format("woff"), url("../fonts/lynon-reg-italic/LyonText-RegularItalic-Web.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
} 

@font-face {
    font-family: "Lynon Bold";
    src: url("../fonts/lynon-semibold/LyonText-Semibold-Web.woff") format("woff"), url("../fonts/lynon-semibold/LyonText-Semibold-Web.woff") format("woff2");
    font-weight: normal;
    font-style: normal;
} 


@font-face {
    font-family: "Suisse Reg";
    src: url("../fonts/suisse-reg/SuisseIntl-Regular-WebM.woff") format("woff"), url("../fonts/suisse-reg/SuisseIntl-Regular-WebM.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
} 

@font-face {
    font-family: "Suisse Reg Italic";
    src: url("../fonts/suisse-reg-italic/SuisseIntl-RegularItalic-WebM.woff") format("woff"), url("../fonts/suisse-reg-italic/SuisseIntl-RegularItalic-WebM.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
} 

@font-face {
    font-family: "Suisse Bold";
    src: url("../fonts/suisse-bold/SuisseIntl-Bold-WebM.woff") format("woff"), url("../fonts/suisse-bold/SuisseIntl-Bold-WebM.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
} 

@font-face {
    font-family: "Suisse Bold Italic";
    src: url("../fonts/suisse-bold-italic/SuisseIntl-BoldItalic-WebM.woff") format("woff"), url("../fonts/suisse-bold-italic/SuisseIntl-BoldItalic-WebM.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
} 



body {
    font-family: 'Lynon Reg', sans-serif;
    font-size: 20px;
    line-height: 30px;
    strong, b {
        font-family: 'Lynon Bold', sans-serif;
    }
    i, em {
        font-family: 'Lynon Reg Italic', sans-serif;
    }
}

.full {
    width: 100%;
    float: left;
}

.skip-link {
    font-size: 16px;
    line-height: 18px;
    font-family: 'Suisse Bold', sans-serif;
    padding: 5px;
}

.container-fluid {
    padding-left: 35px;
    padding-right: 35px;
    @include media-breakpoint-down(md) {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.sec-pad {
    padding-top: 50px;
    padding-bottom: 50px;
}

.sec-pad-lg {
    padding-top: 75px;
    padding-bottom: 150px;
    @include media-breakpoint-down(sm) {
        padding-top: 10px;
        padding-bottom: 55px;
    }
}


.sec-pad-half {
    padding-top: 26px;
    padding-bottom: 26px;
}

.sec-pad-top {
    padding-top: 55px;
}

.sec-pad-bot {
    padding-bottom: 55px;
}

.flex-between {
    justify-content: space-between;
}

.false-caption {
    width: 100%;
    display: block;
    height: 50px;
}

@include media-breakpoint-up(sm) {
    .desktop {
        display: block;
    }
    .desktop-flex {
        display: flex;
    }
    
    .mobile {
        display: none;
    }
    .mobile-flex {
        display: none;
    }
}

@include media-breakpoint-down(sm) {
    .container-padding {
        padding-left: 15px;
        padding-right: 15px;
    }
    .desktop {
        display: none;
    }
    .desktop-flex {
        display: none;
    }
    
    .mobile {
        display: block;
    }
    .mobile-flex {
        display: flex;
    }
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding-right: 22px;
    padding-left: 22px;
} 

//@media (min-width: 576px) { ... }
//
//@media (min-width: 768px) { ... }
//
//@media (min-width: 992px) { ... }
//
//@media (min-width: 1200px) { ... }

