.navbar-brand {
    width: 215px;
}
.navbar-light .navbar-nav .nav-link {
    color: $black;
    @include nav-items;
    text-transform: lowercase;   
    padding: 4px 0 !important;
    margin: 0 12px !important;
    letter-spacing: .1px;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: $black;
}


.navbar {
    padding: 0 1rem;
}
.navbar-nav {
    padding: 20px 0; 
}

.nav-item {
    display: block;
    position: relative;
    &.green {
        .nav-link {
            position: relative;
            &:hover, &:focus {
                &::before {
                    height: 8px;
                    width: 100%;
                    content: "";
                    background-color: rgba(0, 218, 43, 0.7);
                    position: absolute;
                    bottom: 2px;
                }
            }
        }
    }
    &.blue {
        .nav-link {
            position: relative;
            &:hover, &:focus {
                &::before {
                    height: 8px;
                    width: 100%;
                    content: "";
                    background-color: rgba(4, 210, 255, 0.7);
                    position: absolute;
                    bottom: 2px;
                }
            }
        }
    }
    &.orange {
        .nav-link {
            position: relative;
            &:hover, &:focus {
                &::before {
                    height: 8px;
                    width: 100%;
                    content: "";
                    background-color: rgba(255, 137, 29, 0.7);
                    position: absolute;
                    bottom: 2px;
                }
            }
        }
    }
    &.yellow {
        .nav-link {
            position: relative;
            &:hover, &:focus {
                &::before {
                    height: 8px;
                    width: 100%;
                    content: "";
                    background-color: rgba(252, 246, 97, 0.7);
                    position: absolute;
                    bottom: 2px;
                }
            }
        }
    }
}

.navbar-light .navbar-nav .active {
    &.green {
        >.nav-link {
            &::before {
                height: 8px;
                width: 100%;
                content: "";
                background-color: rgba(0, 218, 43, 0.7);
                position: absolute;
                bottom: 2px;
            }
        }
    }
    &.blue {
        >.nav-link {
            &::before {
                height: 8px;
                width: 100%;
                content: "";
                background-color: rgba(4, 210, 255, 0.7);
                position: absolute;
                bottom: 2px;
            }
        }
    }
    &.orange {
        >.nav-link {
            &::before {
                height: 8px;
                width: 100%;
                content: "";
                background-color: rgba(255, 137, 29, 0.7);
                position: absolute;
                bottom: 2px;
            }
        }
    }
    &.yellow {
        >.nav-link {
            &::before {
                height: 8px;
                width: 100%;
                content: "";
                background-color: rgba(252, 246, 97, 0.7);
                position: absolute;
                bottom: 2px;
            }
        }
    }    
}

.hamburgerMenu { 
    margin-left: 20px;
    background: 0 0;
    border: none;
    box-shadow: none;
}



@include media-breakpoint-down(sm) {
  .hamburgerMenu {
    display: none;
  }
  .desktop-nav {
    display: none;
  }
}
