a.home-logo-rel-wrapper {
    position: relative;
    display: block;
    height: 420px;
    p {
        font-size: 14px;
        line-height: 18px;
        font-family: 'Suisse Reg', sans-serif;
        text-align: center;
        position: absolute;
        right: 28%;

    }
    
    span {
      display: inline-block;
      position: relative;
      border-bottom: 1px solid $black;
        &::after {
          content: '';
          position: absolute;
          width: 100%;
          transform: scaleX(0);
          height: 1px;
          bottom: -1px;
          left: 0;
          background-color: $black;
          transform-origin: bottom right;
          transition: transform 0.25s ease-out;
        }

    }
    
    &:hover {
        span {
            border-bottom: none;
            &::after {
              transform: scaleX(1);
              transform-origin: bottom left;
            }
        }
    }
}

.sticky-home-intro {
    position: relative;
    top: -80px;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .sticky-low-p {
        position: absolute;
        bottom: 0;
        width: 300px;
        font-size: 16px;
        line-height: 20px;
        font-family: 'Suisse Reg', sans-serif;
        #viewAllTopics {
//            text-decoration: none;
            &:hover { 
                text-decoration: none;
            }
        }
    }
    img.home-logo {
        width: 440px;
    }
}
//overwriting post styles from archive.scss
.home {
    .taxonomy-thumb {
        img {
//            width: 100%;
//            float: left;
        }
    }
    .single-archive-post-wrap {
        margin-top: 0;
        margin-bottom: 50px;
    }
    .left-border {
        border-left: 1.25px solid $black;
        @include media-breakpoint-up(sm) {
            padding-left: 30px;
        }
    }
}

.category-featured {
    .single-archive-post-wrap {
        margin-bottom: 0;
    }
}

.featured-post-headings {
    h2.entry-title, h3.entry-title {
        @include home-archive-title-font;
    }
    .subheading {
        @include home-archive-subhading-font;
    }
}

.home-people {
    margin-top: 125px;
    @include media-breakpoint-down(sm) {
        margin-top: 25px;
    }
}

.home-editors-picks {
    h2 {
        @include post-body-subheading;
        margin-bottom: 15px;
    }
    @include media-breakpoint-down(sm) {
        margin: 25px 0;
    }
}

.editors-picks-flex {
    display: flex;
    justify-content: space-between;
    border-top: 2px dotted $black;
    padding: 15px 0 0 0;
    list-style-type: none;
//    border-bottom: 2px dotted $black;
    .pick {
        position: relative;
        width: 22%;
        @include media-breakpoint-up(md) {
            border-left: 1px solid #E8E8E8;
            padding-left: 23px;
            margin-top: 20px;
        }

        a {
            text-decoration: none;
            display: block;
            transition: 0.2s all;
            position: relative;
            @include box-color-hovers;
            p.primary-category {
                border-bottom: none;
            }
            .editors-pick-title {
                @include archive-title-font;
                margin-bottom: 0;
                font-size: 26px;
                line-height: 32px;
                font-family: 'Lynon Reg', sans-serif;
            }
        }
    }
    @include media-breakpoint-down(sm) {
        border-bottom: none;
        display: block;
        float: left;
        width: 100%;
        .pick {
            width: 100%;
            float: left;
            border-bottom: 1.5px solid #D9D9D9;
            padding-bottom: 18px;
            margin-bottom: 18px;
        }
    }
}


.featured-cat-heading {
    @include archive-term-font;
//    display: inline-block;
//    background-image: none;
//    background-repeat: no-repeat;
//    background-position: 0 70px;
//    background-size: 100% 30px;
//    padding-bottom: 30px;
//    position: relative;
//    left: 0;
    margin-bottom: 55px;
    display: inline-block;
    position: relative;
    &::before {
        height: 30px;
        width: 100%;
        content: "";
        background-color: rgba(196, 196, 196, 0.7);
        position: absolute;
        bottom: -7px;
        @include media-breakpoint-down(sm) {
            height: 16px;
            bottom: 6px;
        }
    }
    @include media-breakpoint-down(sm) { 
        font-size: 51px;
        line-height: 49px;
        letter-spacing: -2px;
        margin-bottom: 40px;
        background-position: 0 45px;
        background-size: 100% 23px;
        padding-bottom: 0px;
        display: inline;
    }
    a.see-all {
        @include author-font;
        line-height: 20px;
        font-family: "Suisse Reg",sans-serif;
        font-size: 18px;
        position: absolute;
        right: -39px;
        top: -23px;
        transition: 0.2s all;
        img.see-all-circle {
            width: 75px;
        }
        &:hover {
            transform: rotate(20deg);
        }
    }
    span.stars {
        position: absolute;
        display: block;
        right: -49px;
        top: 38px;
        width: 64px;
        height: 64px;
        display: block;
        @include media-breakpoint-down(sm) {
            display: none;
        }
        img {
            position: absolute;
            width: 100%;
            height: 100%;
            display: block;
        }
    }
    &.green {
        &::before {
            background-color: rgba(0, 218, 43, 0.7);
        }
    }
    &.blue {
        &::before {
            background-color: rgba(4, 210, 255, 0.7);
        }
    }
    &.orange {
        &::before {
            background-color: rgba(255, 137, 29, 0.7);
        }
    }
}
@include media-breakpoint-down(sm) {
    a.see-all-mobile {
        position: relative;
        width: 100px;
    }
    .featured-cat-heading-mobile-wrap {
        margin-bottom: 45px;
    }
}


@media (min-width: 1400px) {
    .featured-cat-heading {
        left: -100px;
    }
}

@media (min-width: 1200px) {
    .featured-cat-heading {
        left: -30px;
    }
}

@include media-breakpoint-down(md) {
    .sticky-home-intro .sticky-low-p {
        width: 100%;
    }
}


@include media-breakpoint-down(sm) {
    .sticky-home-intro{
        display: none;
    }
    .home .left-border {
        border-left: none;
    }
    .no-mob-img {
        display: none !important;
    }
    .category-featured {
        .single-archive-post-wrap {
            padding-bottom: 25px;
            margin-bottom: 25px;
            border-bottom: 1.5px solid #D9D9D9;
        }
    }
    .home-editors-picks {
        .pick:last-of-type {
            display: none;
        }
    }
}