//Header

@mixin drawUnderline {
    display: inline-block;
    position: relative;
    border-bottom: 1px solid $black;
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 1px;
      bottom: -1px;
      left: 0;
      background-color: $black;
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }

    &:hover {
        border-bottom: none;
        text-decoration: none;
        &::after {
          transform: scaleX(1);
          transform-origin: bottom left;
        }
    }
}

.drawUnderline {
    @include drawUnderline;
}


@mixin box-color-hovers {
    transition: 0.2s all;
    &:hover {
//        filter: grayscale(100%);
    }
    &.green {
        &:hover, &:focus {
            &::before {
                display: block;
                content: '';
                position: absolute;
                top: -8px;
                right: -8px;
                bottom: -8px;
                left: -8px;
                border: 16px solid rgba(0,218,43,.67);
                mix-blend-mode: normal;
                z-index: 9;
                border-radius: 4px;
            }
        }
    }
    &.blue {
        &:hover, &:focus {
            &::before {
                display: block;
                content: '';
                position: absolute;
                top: -8px;
                right: -8px;
                bottom: -8px;
                left: -8px;
                border: 16px solid rgba(91,210,255,.67);
                mix-blend-mode: normal;
                z-index: 9;
                border-radius: 4px;
            }
        }
    }
    &.orange {
        &:hover, &:focus {
            &::before {
            display: block;
            content: '';
            position: absolute;
            top: -8px;
            right: -8px;
            bottom: -8px;
            left: -8px;
            border: 16px solid rgba(255, 137, 29, .67);
            mix-blend-mode: normal;
            z-index: 9;
            border-radius: 4px;
            }
        }
    }
} 



@mixin box-color-sibling {
    transition: 0.2s all;
    &:hover {
//        filter: grayscale(100%);
    }
    &.green {
        &::before {
            display: block;
            content: '';
            position: absolute;
            top: -8px;
            right: -8px;
            bottom: -8px;
            left: -8px;
            border: 16px solid rgba(0,218,43,.67);
            mix-blend-mode: normal;
            z-index: 9;
            border-radius: 4px;
        }
    }
    &.blue {
        &::before {
            display: block;
            content: '';
            position: absolute;
            top: -8px;
            right: -8px;
            bottom: -8px;
            left: -8px;
            border: 16px solid rgba(91,210,255,.67);
            mix-blend-mode: normal;
            z-index: 9;
            border-radius: 4px;
        }
    }
    &.orange {
        &::before {
            display: block;
            content: '';
            position: absolute;
            top: -8px;
            right: -8px;
            bottom: -8px;
            left: -8px;
            border: 16px solid rgba(255, 137, 29, .67);
            mix-blend-mode: normal;
            z-index: 9;
            border-radius: 4px;
        }
    }
} 


@mixin nav-items {
    font-size: 16px;
    line-height: 20px;
    font-family: 'Suisse Black', sans-serif;
    @include media-breakpoint-down(md) {
        font-size: 15px;
        line-height: 19px;
    }
}

//Posts & Archive

@mixin post-cat {
    font-size: 14px;
    line-height: 18px;
    font-family: 'Suisse Reg', sans-serif;
    text-transform: uppercase;
    padding-bottom: 1px;
//    border-bottom: 1px solid $black;
    &:hover {
        text-decoration: none;
    }
}

@mixin citation-font {
    font-size: 14px;
    line-height: 18px;
    font-family: 'Suisse Reg', sans-serif;
}

@mixin author-font {
    font-size: 15px;
    line-height: 20px;
    font-family: 'Suisse Reg', sans-serif;
}

@mixin search-font {
    font-family: 'Suisse Reg', sans-serif;
    color: $white !important;
    font-size: 48px;
}


@mixin search-font-mobile {
    font-family: 'Suisse Reg', sans-serif;
    color: $black !important;
    font-size: 24px;
}

@mixin large-title {
    font-size: 48px;
    line-height: 50px;
    font-family: 'Lynon Bold', sans-serif;
    @include media-breakpoint-down(md) {
        font-size: 38px;
        line-height: 40px;
    }
    @include media-breakpoint-down(md) {
        font-size: 32px;
        line-height: 36px;
    }
}

@mixin smaller-title {
    font-size: 20px;
    line-height: 24px;
    font-family: 'Lynon Reg', sans-serif;
}

@mixin single-subheading {
    font-size: 28px;
    line-height: 36px;
    font-family: 'Suisse Reg', sans-serif;
    @include media-breakpoint-down(sm) {
        font-size: 18px;
        line-height: 24px;
    }
}


@mixin post-body-subheading {
    font-size: 28px;
    line-height: 36px;
    font-family: 'Suisse Bold', sans-serif;
    @include media-breakpoint-down(sm) {
        font-size: 24px;
        line-height: 30px;
    }
}

@mixin post-aside-font {
    font-size: 14px;
    line-height: 19px;
    font-family: 'Suisse Reg', sans-serif;
}

@mixin post-meta {
    font-size: 14px;
    line-height: 24px;
    font-family: 'Suisse Reg', sans-serif;
    span.bold {
        font-family: 'Suisse Bold', sans-serif;
    }
}

@mixin caption-font {
    font-size: 14px;
    line-height: 20px;
    font-family: 'Suisse Reg', sans-serif;
    color: #585858;
}

@mixin flex-height {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@mixin footer-font {
    font-size: 14px;
    line-height: 20px;
    font-family: 'Suisse Reg', sans-serif;
    color: $white;
    @include media-breakpoint-down(sm) {
        font-size: 16px !important;
        line-height: 20px;
    } 
}

@mixin archive-term-font {
    font-size: 112px;
    line-height: 100px;
    letter-spacing: -4px;
    font-family: "Suisse Black",sans-serif;
    text-transform: lowercase;
    @include media-breakpoint-down(md) {
        font-size: 80px;
        line-height: 90px;
    } 
    @include media-breakpoint-down(sm) {
        display: inline;
        font-size: 60px;
        line-height: 60px;
        letter-spacing: -2px;
        padding-bottom: 20px;
    } 
}

@mixin mobile-drawer-term-font {
    font-size: 32px;
    line-height: 20px;
    font-family: 'Suisse Black', sans-serif;
    text-transform: lowercase;
}

@mixin archive-title-font {
    font-size: 26px;
    line-height: 32px;
    font-family: 'Lynon Bold', sans-serif;
}

@mixin archive-subhading-font {
    font-size: 26px;
    line-height: 32px;
    font-family: 'Lynon Reg', sans-serif;
}

@mixin home-archive-title-font {
    font-size: 44px;
    line-height: 50px;
    font-family: 'Lynon Bold', sans-serif;
    @include media-breakpoint-down(md) {
        font-size: 26px;
        line-height: 32px;
    }
}

@mixin home-archive-subhading-font {
    font-size: 44px;
    line-height: 50px;
    font-family: 'Lynon Reg', sans-serif;
    @include media-breakpoint-down(md) {
        font-size: 26px;
        line-height: 32px;
    }
}

@mixin alm-btn-font {
    font-size: 16px;
    line-height: 18px;
    padding: 13px 18px;
    font-family: 'Suisse Reg', sans-serif;
}

@mixin current-issue-title-font {
    font-size: 36px;
    line-height: 36px;
    font-family: 'Lynon Reg', sans-serif;
}

@mixin dotted-heading {
    font-family: 'Suisse Bold', sans-serif;
    text-transform: lowercase;
    font-size: 48px;
    line-height: 52px;
    padding-bottom: 25px;
    color: $white;
    border-bottom: 2px dotted $white;
    width: 100%;
    @include media-breakpoint-down(md) {
        font-size: 36px;
        line-height: 36px;
        padding-bottom: 20px;
    }
}
