.lgopen {display: block;}
.smopen {display: none;}
@include media-breakpoint-down(sm) {
    .lgopen {display: none;}
    .smopen {display: block;}
}

.search-results-page {
    header {
        p {
            font-size: 16px;
            line-height: 32px;
            font-family: 'Suisse Reg', sans-serif;
            margin-bottom: 4px;
        }
    }
    p {
        font-size: 26px;
        line-height: 32px;
        font-family: 'Lynon Reg', sans-serif;
        margin-bottom: 60px;
        strong {
            font-family: 'Lynon Bold', sans-serif;
        }
        @include media-breakpoint-down(sm) {
            margin-bottom: 35px;
        }
    }
    .back-to-search {
        font-size: 16px;
        line-height: 20px;
        font-family: 'Suisse Reg', sans-serif;
    }
}

.search-title {
    @include archive-term-font;
    margin-bottom: 60px;
    &::before {
        content:none;
    }
    @include media-breakpoint-down(sm) {
        margin-bottom: 35px;
        display: block;
    }
}
